{% extends "/layouts/page.html-jinja" %}
{% block title %}aiviau{% endblock %}
{% block content %}
<p>Hello World.

<p>I am Alexandre Viau, Debian Developper. This website covers my Debian-related work. I don't have much time to spend on a website, so that will have to do for now.
{% endblock %}
