{% extends "/layouts/page.html-jinja" %}
{% block content %}

<h1>Debian packaging for Mailpile</h1>

<p> I am the maintainer for Mailpile in Debian. The purpose of this page is to allow people to test the Mailpile packages before I upload them to Debian. It can also be useful for those that want new versions faster.

<p> <b>Note:</b> The packages should be compatible for Ubuntu. Mailpile has very few dependencies and the packaging currently embeds the javascript, so there is low risk incompatibilities.

<h2>Installing the repository</h2>
<pre>
sudo apt-key adv --keyserver keyring.debian.org --recv 3CCC3A3A
echo 'deb https://people.debian.org/~aviau/debian mailpile/' > /etc/apt/sources.list.d/mailpile.list
</pre>

<h2>Installing Mailpile</h2>
<pre>
apt-get update
apt-get install mailpile-server
</pre>

Enjoy!

{% endblock %}
